<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>user view page</title>
</head>
<body>
 <h1>Teachers Information</h1>
             {% if k1 %}
             {% for u in k1 %}
             <ul>
    <li>first_name:{{u.first_name}}</li>
    <li>last_name:{{u.last_name}}</li>
    <li><img src="{{u.profile_pic.url}}" alt="img" height="60px" width="60px"></li>
    <li>email:{{u.email}}</li>
    <li>phone:{{u.phone}}</li>
    <li>room_number:{{u.room_number}}</li>
    <li>subjects:{{u.subject1}},{{u.subject2}},{{u.subject3}},{{u.subject4}},{{u.subject5}}</li>
              </ul>
             {% endfor %}
             {% endif %}
<a href="userhome">back</a>
</body>
</html>